<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FxConvert</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="flash">
      <% if flash.present? %>
        <%= render 'shared/flash' %>
      <% end %>
    </div>

    <div class="container">
      <%= render 'shared/header' %>

      <div class="row">
        <div class="col">
          <%= link_to 'Import currencies', dashboard_import_currencies_path, class: 'btn btn-primary float-right', remote: true %>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
